{% extends 'base2_1.html' %}
{% block content %}
<script src="/static/jquery-1.8.3.min.js"></script>
<script>
	$(document).ready(function(){
					$(".table").hide()
					$(".fonts").show()
					
					




				
				     })
</script>

<title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="/static/table-03/css/style.css">

	</head>
	

	<section class="ftco-section" id="hero">

		<div class="container" >

			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5" >
					<h2 class="heading-section">View Customer Order</h2>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12" >
					
					<div class="table-wrap">
						<table class="fonts"  style="font-color:#f1ecec;font-weight:20px">
					   
					      <tr>
					        <th><span style="color:yellow"><h3>ProductName</h3></span></th>
					        <th><span style="color:yellow"><h3>Buyername</h3></span></th>
					        <th><span style="color:yellow"><h3>Picture</h3></span></th>
					        <th><span style="color:yellow"><h3>Quantity</h3></span></th>
					        <th><span style="color:yellow"><h3>TotalPrice</h3></span></th>
						<th><span style="color:yellow"><h3>ShippingAddress</h3></span></th>
						<th><span style="color:yellow"><h3>Status</h3></span></th>
					      </tr>
					   
					    <tbody>
						{% for v in data %}	
					      <tr>
					        <th scope="row" class="scope" >{{v.productid.name}}</th>
					        <td>{{v.buyer_id.name}}</td>
					        <td><img src="{{v.productid.picture.url}}" height="40px" width="40px" alt="no pic"></td>
						 <td>{{v.quantity}}</td>
					        <td>{{v.totalprice}}</td>
						<td>{{v.shippingaddress}}</td>
					        <td>{{v.status}}</td>
						{% if v.status == "cancelled" %}
					        <td><a href="{% url 'conformCancel' v.id %}" class="btn btn-primary">Conform cancellation</a></td>
						{% endif %}
						{% if v.status == "pending"  %} 
							<td id="accept"><a href="{% url 'accept' v.id class="btn btn-primary">Accept</a></td>
							<td id="reject"><a href="{% url 'reject1' v.id class="btn btn-primary"}>Reject</a></td>
						{% endif %}
						{% if v.status == "accepted" %}
							<td><a href="{% url 'trackOrder'  v.id %}" class="btn btn-primary">Add Tracking Order</a></td>	
						{% endif %}
						</tr>
					        {% endfor %}
					    </tbody>
					  </table>
					</div>
				</div>
			</div>
		</div>

	</section>

	<script src="/static/table-03/js/jquery.min.js"></script>
  <script src="/static/table-03/js/popper.js"></script>
  <script src="/static/table-03/js/bootstrap.min.js"></script>
  <script src="/static/table-03/js/main.js"></script>







{% endblock %}

	<body>

		<table>
			<tr>
				<th>Buyer Name</th >
				<th>Product Name</th >
				<th>Picture</th >
				<th>Quantity</th >
				<th>Total Price</th >
				<th>Shipping Address</th >
				<th>Status</th>
			</tr>
			{% for v in data %}
			<tr>
				<td>{{v.buyer_id.name}}</td>
				<td>{{v.productid.name}}</td>
				<td><img src="{{v.productid.picture.url}}"  height="100px" width="100px" alt="nopic"></td>
				<td>{{v.quantity}}</td>
				<td>{{v.totalprice}}</td>
				<td>{{v.shippingaddress}}</td>
				<td>{{v.status}}</td>
				{% if v.status == "cancelled" %}
				<td><a href="{% url 'conformCancel' v.id %}">Conform cancellation</a></td>
				{% endif %}
				
				{% if v.status == "pending"  %} 
				<td id="accept"><a href="{% url 'accept' v.id%}">Accept</a></td>
				<td id="reject"><a href="{% url 'reject1' v.id%}">Reject</a></td>
				{% endif %}
				{% if v.status == "accepted" %}
				<td><a href="{% url 'trackOrder'  v.id %}">Add Tracking Order</a></td>	
				{% endif %}
				
			</tr>
			{% endfor %}
		</table>
	</body>
{% if messages %}
	{% for msg in messages %}
		<script>
			alert('{{msg}}')
		</script>
	{% endfor%}
{% endif %}
</html>