{% extends 'base 1.html' %}
{% block content %}
<script type="text/javascript">
	function validation()
	{
		var username=document.getElementById("username");
		if(username.value.length==0)
			{
				alert("Enter the username");
				username.focus();
				return false;
			}
		else
			{
				return true;
			}
	}
</script>
		
          <div class="col-lg-8 mt-5 mt-lg-0">

           <form method="post" action="{% url 'forgotPasswordUsernameCheck' %}" name="forgotpasswordform">
	{% csrf_token %}
              <div class="row">
                <div class="col-md-6 form-group" >
                  <input type="text"  name="username" class="form-control" id="name" placeholder="username" style="margin-left:197px" required>
                </div>
               </div>
	 <div class="form-group mt-3">
              <div class="text-center"><button type="submit" onclick="return validation()">submit</button></div>
	</div>
            </form>

          </div>
	
		
{% if messages%}
	{% for msg in mesages %}
		<script>
			alert('{{msg}}')
		</script>
	{% endfor %}
{% endif %}
{% endblock %}