{% extends 'base 1.html' %}
{% block content %}
<script type="text/javascript">
	function validation()
	{
		var num=/^[0-9]+$/;
		var dob=document.getElementById("dob");
		var country=document.getElementById("country");
		var phone=document.getElementById("phone");
		if(dob.value.length==0)
		{
			alert("Enter the date of birth")
			dob.focus();
			return false;
		}
		else if(country.value.length==0)
		{
			alert("Enter the country");
			country.focus();
			return false;
		}
		else if(phone.value.length==0)
		{
			alert("Enter the  phone no.");
			phone.focus();
			return false;
		}
		else if(!phone.value.match(num))
		{
			alert("Enter a valid phone number");
			phone.focus();
			return false;
		}
		else
		{
			return true;
		}
	}
	
</script>
	  <div class="col-lg-8 mt-5 mt-lg-0">
		<form method="post" action="{% url 'forgotPasswordDOBPhoneCountrycheck' %}">
		{% csrf_token %}
            
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="username" class="form-control" id="username" style="margin-left:150px" placeholder="username" required>
                </div>
                
              </div> <div class="form-group mt-3">
	 <div class="col-md-6 form-group">
                <input type="date" class="form-control" name="dob" id="dob" placeholder="dob" style="margin-left:150px" required>
              </div>
	</div>
	  </div> 
	<div class="form-group mt-3">
	 <div class="col-md-4 form-group">
                <input type="text" class="form-control" name="phone" id="phone" placeholder="phone" style="margin-left:339px"  required>
              </div>
	</div>
	 
              <div class="form-group mt-3">
	 <div class="col-md-4 form-group">
					<select name="country" id="country"  class="form-control" style="margin-left:341px" >
						<option value="">------select------</option>
						<option value="canada">canada</option>
						<option value="india">india</option>
					       </select>
	</div></div>
	
		       </div> <div class="form-group mt-3">
	              <div class="text-center"><button type="submit" style="margin-left:-53px" onclick="return validation()">submit</button></div>
		</div>
            </form>

          </div>
{% endblock %}