{% extends 'base 1.html' %}
{% block content %}
<script type="text/javascript">
		function validation()
		{
			var alpha=/^[a-zA-Z]+$/;
			var num=/^[0-9]+$/;
			
			
			
			var username=document.getElementById("username");
			var password=document.getElementById("password");
			
		
		
			
			if(username.value.length==0)
			{
				alert("Please Enter your username ");
				return false;
			}
			
			else if(password.value.length==0)
			{
				alert("Plese enter your password");
				return false;
			}
			
			
			else
			{
				return true;
			}
		}	
			
		
	</script>


<div class="col-lg-8 mt-5 mt-lg-0">

           <form method="post" action="{% url 'loginAction' %}">
	{% csrf_token %}
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="username" class="form-control" id="username" placeholder="Username" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="password" class="form-control" name="password" id="password" placeholder="password" required>
                </div>
              </div>
                <div class="my-3">
              <div class="text-center"><button type="submit" onclick="return validation()">Login</button></div>
            </form>

          </div>
<a href="{% url 'forgotPassword' %}">Forgot Password</a>
        </div>

      </div>

	
{% if messages %}
	{% for msg in messages %}
		<script>
			alert('{{msg}}')
		</script>
	{% endfor %}
{% endif %}
{% endblock %}