{% extends 'base 1.html' %}
{% block content %}
<script type="text/javascript">
	function validation()
	{
		var password=document.getElementById("password");
		var newpassword=document.getElementById("newpassword");
		if(password.value.length==0)
		{
			alert("enter password");
			password.focus();
			return false;
		}
		else if(newpassword.value.length==0)
		{
			alert("enter password");
			newpassword.focus();
			return false;
		}
		else
		{
			return true;
		}
	}
</script>
		     <div class="col-lg-8 mt-5 mt-lg-0">
 	

		<form method="post" action="{% url 'newpasswordAction' %}">
		{% csrf_token %}
			<input type="hidden" name="username" value="{{data}}" >
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="password" name="password" class="form-control" id="password" placeholder="password" style="margin-left:150px" required>
                </div>
	</div>
		   <div class="form-group mt-3">
             		   <div class="col-md-6 form-group mt-3 mt-md-0">
		                  <input type="password" class="form-control" name="newpassword" id="newpassword" placeholder="Conform password" style="margin-left:150px" required>
               		 </div>
            		  </div>
                               </div> <div class="form-group mt-3">
	              <div class="text-center"><button type="submit" style="margin-left:-53px" onclick="return validation()">submit</button></div>
		</div>

		</form>

{% if messages %}
	{% for msg in messages %}
		<script>
			alert('{{msg}}')
		</script>
	{% endfor%}
{% endif %}
{% endblock %}