{% extends 'base2_1.html' %}
{% block content %}
<script src="/static/jquery-1.8.3.min.js"></script>
<script>
	$(document).ready(function(){
					$(".table").hide()
					$(".fonts").show()
					
					




				
				     })
</script>

<title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="/static/table-03/css/style.css">

	</head>
	

	<section class="ftco-section" id="hero">

		<div class="container" >

			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5" >
					<h2 class="heading-section">View All Sellers</h2>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12" >
					
					<div class="table-wrap">
						<table class="fonts"  style="font-color:#f1ecec;font-weight:20px">
					   
					      <tr>
					        <th><span style="color:yellow"><h3>Name</h3></span></th>
					        <th><span style="color:yellow"><h3>Gender</h3></span></th>
					        <th><span style="color:yellow"><h3>Address</h3></span></th>
					        <th><span style="color:yellow"><h3>Phone</h3></span></th>
					        <th><span style="color:yellow"><h3>Country</h3></span></th>
					        <th><span style="color:yellow"><h3>Username</h3></span></th>
						<th><span style="color:yellow"><h3>status</h3></span></th>
					      </tr>
					   
					    <tbody>
						{% for v in data %}	
					      <tr>
					        <th scope="row" class="scope" >{{v.name}}</th>
					        <td>{{v.gender}}</td>
					        <td>{{v.address}}</td>
					        <td>{{v.phone}}</td>
					        <td>{{v.country}}</td>
						 <td>{{v.username}}</td>
 						<td>{{v.status}}</td>
					        <td><a href="{% url 'approve' v.id %}" class="btn btn-primary">Approve</a></td>
						 <td><a href="{% url 'reject' v.id %}" class="btn btn-primary">Reject</a></td>
					      </tr>
					        {% endfor %}
					    </tbody>
					  </table>
					</div>
				</div>
			</div>
		</div>

	</section>

	<script src="/static/table-03/js/jquery.min.js"></script>
  <script src="/static/table-03/js/popper.js"></script>
  <script src="/static/table-03/js/bootstrap.min.js"></script>
  <script src="/static/table-03/js/main.js"></script>







{% endblock %}






<!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>View All Sellers</h2>
        
        </div>
{% for v in data%}
        <div class="row"   id="heroo">
          <div class="col-lg-6 " data-aos="zoom-in"  style="margin-left:389px;width:200%">
           
              <div><img src="{{v.image.url}}" height="50px" width="50px" alt="nopic"></div>
              <h8>{{v.name}}</a></h8>
               <h8>{{v.gender}}</a></h8>
	<h8>{{v.address}}</a></h8>
	<h8>{{v.phone}}</a></h8>
	<h8>{{v.country}}</a></h8>
	<h8>{{v.username}}</a></h8>
	<h8>{{v.status}}</a></h8>
	<h8><a href="{% url 'approve' v.id %}">Approve</a></h8>
	<h8><a href="{% url 'reject' v.id %}">reject</a></h8>
          
{% endfor %}
        </div>

      </div>

    </section><!-- End Services Section -->



		
